<%- include('../includes/head.ejs') %>

<nav class="navbar-expand-lg navbar-light bg-light d-flex justify-content-between">
    <h1 class="navbar-brand">Collections</h1>
</nav>

<!-- Show modal when deleting collection -->
<% if (isDeleting) { %> 
    <%- include('../includes/collection/modal-delete-collection.ejs', {collectionId}) %> 
<% } %>

<div class="container-fluid">
    <!-- Show message when there are no collections-->
    <% if (!collections.length) { %>
        <h2>No Collections on File</h2>
        <p>Create a new collection below to get started.</p>
    <% } else { %>
        <h2>Collection List</h2>
    <% } %>

    <!-- Add collection form -->
    <%- include('../includes/collection/form-add-collection.ejs') %>

    <!-- Show collections when they exist -->
    <% if (collections.length) { %>
        <ul class="list-group list-group-flush">
            <% for (let collection of collections) { %>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <!-- Show edit form when editing mode is on and collection id matches. -->
                    <% if (isEditing && collectionId === collection.id) { %>
                        <%- include('../includes/collection/form-edit-collection.ejs', {collection}) %>
                    <% } else { %>
                        <!-- Show collection name -->
                        <%= collection.name %>
                    <% } %>
                    <div class="btn-group" role="group">
                        <!-- Fields Link -->
                        <%- include('../includes/list-item-button.ejs', {
                            btnColor: 'primary',
                            btnLabel: 'fields',
                            btnLink: `/fields?collectionId=${collection.id}`,
                            isDisabled: isEditing || isDeleting
                        }) %>

                        <!-- Items Link -->
                        <%- include('../includes/list-item-button.ejs', {
                            btnColor: 'secondary',
                            btnLabel: 'items',
                            btnLink: `/items?collectionId=${collection.id}`,
                            isDisabled: isEditing || isDeleting
                        }) %>

                        <!-- Edit Link -->
                        <%- include('../includes/list-item-button.ejs', {
                            btnColor: 'warning',
                            btnLabel: 'edit',
                            btnLink: `/collection/edit?collectionId=${collection.id}`,
                            isDisabled: isEditing || isDeleting
                        }) %>

                        <!-- Delete Link-->
                        <%- include('../includes/list-item-button.ejs', {
                            itemId: collection.id,
                            btnColor: 'danger',
                            btnLabel: 'delete',
                            btnLink: `/collection/delete?collectionId=${collection.id}`,
                            isDisabled: isEditing || isDeleting
                        }) %>
                    </div>
                </li>
            <% } %>
        </ul>
    <% } %>
</div>

<%- include('../includes/foot.ejs') %>
