<%- include('../includes/head.ejs', { pageTitle }) %>

<!-- Breadcrumb Navigation-->
<ul class="breadcrumb">
	<li class="breadcrumb-item">
		collections
	</li>
</ul>

<!-- Show modal when deleting collection -->
<% if (isDeleting) { %> 
	<%- include('../includes/collection/modal-delete-collection.ejs', {
		collectionId,
		collectionName
	}) %> 
<% } %>

<% if (noFields) { %>
	<%- include('../includes/collection/modal-no-fields.ejs', {
		collectionId,
		collectionName
	}) %>
<% } %>

<div class="container-fluid">
	<div class="row">
		<!-- Sidebar Content-->
		<div class="col-md-4 col-lg-3 col-xl-2 sidebar bg-light">
			<!-- Add collection form -->
			<%- include('../includes/collection/form-add-collection.ejs', { duplicateName }) %>
		</div>

		<!-- Main Content -->
		<div class="col-md-8 col-lg-9 col-xl-10">
			<!-- Show collections when they exist -->
			<% if (collections.length) { %>
			<h1 class="mt-2">Collection List</h1>

			<!-- Notification Area -->
			<!-- Notify when collection is added -->
			<% if (wasAdded) { %>
			<div
				class="alert alert-info alert-dismissable fade show"
				role="alert"
			>
				Collection <%= collectionName %> has been added.
				<button type="button" class="close" data-dismiss="alert">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<% } %>

			<!-- Notify when collection is edited -->
			<% if (wasEdited) { %>
			<div
				class="alert alert-info alert-dismissable fade show"
				role="alert"
			>
				Collection <%= collectionName %> was edited.
				<button type="button" class="close" data-dismiss="alert">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<% } %>

			<!-- Notify when collection is deleted -->
			<% if (wasDeleted) { %>
			<div
				class="alert alert-info alert-dismissable fade show"
				role="alert"
			>
				Collection <%= collectionName %> was deleted.
				<button type="button" class="close" data-dismiss="alert">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<% } %>

			<!-- Collection List -->
			<ul class="list-group list-group-flush container-fluid">
				<% for (let collection of collections) { %>
				<li
					class="list-group-item d-flex justify-content-sm-between align-items-center row"
				>
					<!-- Show edit form when editing mode is on and collection id matches. -->
					<% if (isEditing && collectionId === collection.id) { %> <%-
					include('../includes/collection/form-edit-collection.ejs',
					{collection}) %> <% } else { %>
					<!-- Show collection name -->
					<%= collection.name %> <% } %>

					<!-- Control buttons -->
					<!-- Show control buttons for collection when interface is not in edit mode or if interface is in edit mode but the collection id does not match the collectionId variable. -->
					<% if (!isEditing || collectionId !== collection.id) { %>
					<div class="btn-group col-sm-10 justify-content-sm-end my-2" role="group">
						<!-- Fields Link -->
						<%- include('../includes/list-item-button.ejs', {
						btnColor: 'primary', btnLabel: 'fields', btnLink:
						`/fields?collectionId=${collection.id}`, isDisabled:
						isEditing || isDeleting || noFields}) %>

						<!-- Entries Link -->
						<%- include('../includes/list-item-button.ejs', {
						btnColor: 'secondary', btnLabel: 'entries', btnLink:
						`/entries?collectionId=${collection.id}`, isDisabled:
						isEditing || isDeleting || noFields}) %>

						<!-- Edit Link -->
						<%- include('../includes/list-item-button.ejs', {
						btnColor: 'warning', btnLabel: 'edit', btnLink:
						`/collection/edit?collectionId=${collection.id}`,
						isDisabled: isEditing || isDeleting || noFields}) %>

						<!-- Delete Link-->
						<%- include('../includes/list-item-button.ejs', {
						itemId: collection.id, btnColor: 'danger', btnLabel:
						'delete', btnLink:
						`/collection/delete?collectionId=${collection.id}`,
						isDisabled: isEditing || isDeleting || noFields}) %>
					</div>
					<% } %>
				</li>
				<% } %>
			</ul>
			<!-- Show message when no Collecions exist -->
			<% } else { %>
			<h1 class="mt-2">
				No Collections on File
			</h1>
			<p>Create your first collection with the form on the right.</p>
			<% } %>
		</div>
	</div>

	<%- include('../includes/foot.ejs') %>
</div>
