<%- include('../includes/head.ejs') %>

<nav
	class="navbar-expand-lg navbar-light bg-light d-flex justify-content-between"
>
	<h1 class="navbar-brand">
		Edit Field: <b><%= field.name %>(<%= field.type %>)</b>
	</h1>
	<a 
		class="nav-link" 
		href="/fields?collectionId=<%= collection.id %>" 
	>
		Back to <%= capitalize(collection.name) %> Fields
	</a>
</nav>

<% switch(field.type) {
	case 'boolean' : %>
		<%- include('../includes/field/form-edit-boolean.ejs', { field }) %>
		<% break;
	case 'datetime' : %>
		<%- include('../includes/field/form-edit-datetime.ejs', { field }) %>
		<% break;
	case 'hidden' : %>
		<%- include('../includes/field/form-edit-hidden.ejs', { field }) %>
		<% break; 
	case 'number' : %>
		<%- include('../includes/field/form-edit-number.ejs', { field }) %>
		<% break;
	case 'options' : %>
		<%- include('../includes/field/form-edit-options.ejs', { field }) %>
	<% default : %>
		<%- include('../includes/field/form-edit-string.ejs', { field }) %>
<% } %>
