<%- include('../includes/head.ejs') %>

<!-- Breadcrumb Navigation -->
<ul class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/" class="breadcrumb-link">collections</a>
    </li>
    <li class="breadcrumb-item">
        <%= collection.name %> fields
    </li>
</ul>

<!-- Show modal when deleting field -->
<% if (isDeleting) { %> 
    <%- include('../includes/field/modal-delete-field.ejs', {
        collectionId: collection.id, 
        fieldName,
        fieldId
    }) %>
<% } %>

<!-- Show modal when about to edit field -->
<% if (willEdit) { %>
    <%- include('../includes/field/modal-will-edit-field.ejs', {
        collectionId: collection.id,
        fieldName,
        fieldId
    }) %>
<% } %>

<div class="container-fluid">
    <div class="row">
        <!-- Sidebar Content -->
        <div class="col-md-4 col-lg-3 col-xl-2 sidebar bg-light">

            <!-- Add Field form-->
            <%- include('../includes/field/form-add-field.ejs', {
                fieldTypes,
                capitalize,
                collectionId: collection.id,
                duplicateName }) %>
        </div>

        <!-- Main Content -->
        <div class="col-md-8 col-lg-9 col-xl-10">
            
            <!-- Show fields when they exist -->
            <% if (fields.length) { %>
                <h1 class="mt-2">Field List</h1>

                <!-- Notification Area-->
                <!-- Notify when field is added -->
                <% if (wasAdded) { %>
                    <div class="alert alert-info alert-dismissable fade show" role="alert">
                        Field <%= fieldName %> has been added to <%= collection.name %>.
                        <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                <% } %>

                <!-- Notify when field is edited -->
                <% if (wasEdited) { %>
                    <div class="alert alert-info alert-dismissable fade show" role="alert">
                        Field <%= fieldName %> was edited.
                        <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                <% } %>

                <!-- Notify when field is deleted -->
                <% if (wasDeleted) { %>
                    <div class="alert alert-info alert-dismissable fade show" role="alert">
                        Field <%= fieldName %> was deleted.
                        <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                <% } %>

                <!-- Notify when field configuration has changed -->
                <% if (wasConfigured) { %>
                    <div class="alert alert-info alert-dismissable fade show" role="alert">
                        The configuration settings for <%= fieldName %> were changed.
                        <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                <% } %>

                <!-- Notify when field is moved -->
                <% if (wasMoved) { %>
                    <div class="alert alert-info alert-dismissable fade show" role="alert">
                        Field <%= fieldName %> was moved.
                        <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                <% } %>

                
                <!-- Field List -->
                <ul class="list-group list-group-flush container-fluid">
                    <% for (let field of fields) { %>
                        <li class="list-group-item d-flex justify-content-md-between align-items-center row">
                            <!-- Show edit form when editing mode is on and field id matches-->
                            <% if (isEditing && fieldId === field.id) { %>
                                <%- include('../includes/field/form-edit-field.ejs', {
                                    field,
                                    collectionId: collection.id
                                }) %>
                            <% } else { %>
                                <!-- Show field name -->
                                <div class="col-lg-2 my-1">
                                    <%= field.name %>
                                </div>
                                
                            <% } %>

                            <!-- Control Buttons -->
                            <!-- Show control buttons for field when interface is not in edit mode, or if interface is in edit mode, but the field id does not match the fieldId variable -->
                            <% if(!isEditing || fieldId !== field.id) { %>
                                <div class="btn-group col-sm-10 justify-content-lg-end my-2" role="group">

                                    <!-- Move field up one place -->
                                    <%- include('../includes/field/form-move-field.ejs', {
                                        collectionId: collection.id,
                                        fieldId: field.id,
                                        direction: 'up',
                                        isDisabled: field.order === 1 || isDeleting || isEditing
                                    }) %>
            
                                    <!-- Move field down one place -->
                                    <%- include('../includes/field/form-move-field.ejs', {
                                        collectionId: collection.id,
                                        fieldId: field.id,
                                        direction: 'down',
                                        isDisabled: field.order === fields.length || isDeleting || isEditing
                                    }) %>
            
                                    <!-- Link to Edit Field -->
                                    <%- include('../includes/list-item-button.ejs', {
                                        btnColor: 'warning',
                                        btnLabel: 'edit',
                                        btnLink: `/field/will-edit?collectionId=${collection.id}&fieldId=${field.id}`,
                                        isDisabled: isDeleting || isEditing
                                    }) %>

                                    <!-- Link to Edit Field -->
                                    <%- include('../includes/list-item-button.ejs', {
                                        btnColor: 'primary',
                                        btnLabel: 'configure',
                                        btnLink: `/field/config?fieldName=${field.name}&collectionId=${collection.id}&mode=default`,
                                        isDisabled: isDeleting || isEditing
                                    }) %>
            
                                    <!-- Link to delete field -->
                                    <%- include('../includes/list-item-button.ejs', {
                                        btnColor: 'danger',
                                        btnLabel: 'delete',
                                        btnLink: `/field/delete?collectionId=${collection.id}&fieldId=${field.id}`,
                                        isDisabled: isDeleting || isEditing
                                    }) %>
                                </div>
                            <% } %>
                        </li>
                    <% } %>
                </ul>
            <% } else { %>
                <h1 class="mt-2">
                    No Fields on File
                </h1>
                <p>Create your first field with the form on the right.</p>
            <% } %>
        </div>
    </div>
</div>

<%- include('../includes/foot.ejs') %>
