<div class="form-group">
    <label class="form-label" for="<%= field.name %>">
        <%= field.config.label %>
    </label>

    <input 
        class="form-control" 
        id="<%= field.name %>" 
        type="url" 
        name="<%= field.name %>"
        <% if (mode === "edit") { %>
            value="<%= entry[field.name] %>"
        <% } %>
        required
    />
</div>