<%- include('../includes/head.ejs') %>

<!-- Breadcrumb Navigation-->
<ul class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/" class="breadcrumb-link">collections</a>
    </li>
    <li class="breadcrumb-item">
        <a href="/fields?collectionId=<%= collection.id %>" class="breadcrumb-link"><%= collection.name %> fields</a>
    </li>
    <li class="breadcrumb-item">
        <a href="/entries?collectionId=<%= collection.id %>">
            <%= collection.name %> entries
        </a>
    </li>
    <li class="breadcrumb-item">
        new entry
    </li>
</ul>

<div class="container">
    <div class="row justify-content-center">
        <form
            class="form-centered"
            method="POST"
            <% if (mode === 'add') { %>
                action="/entry/add/<%= collection.id %>"
            <% } else { %>
                action="entry/edit/<%= entry.id %>"
            <% } %>
        >
            <legend>
                Create a New Entry
            </legend>
            <% if (mode === "edit") { %>
                <input type="hidden" name="entryId" value="<%= entry.id %>">
                <input type="hidden" name="entryCreationDate" value="<%= entry.creationDate %>">
                <input type="hidden" name="entrylastModified" value="<%= entry.lastModified %>">
                <input type="hidden" name="author" value="<%= entry.author %>">
            <% } %>

            <div class="form-group">
                <label for="entry-title" class="form-label">Title</label>
                <input
		            class="form-control"
		            type="text"
		            name="title"
                    id="entry-title"
                    <% if (mode === "edit") { %>
                        value="<%= entry.title %>"
                    <% } %>
		            required
	            />
            </div>

            <% for (let field of fields) { %>
                <div class="form-group">
                    <% switch(field.type) {
                        case 'boolean' : %>
                            <%- include('../includes/entry/field-edit-boolean.ejs', {
                                field, mode
                            }) %>
                            <% break;
                        case 'datetime' : %>
                            <%- include('../includes/entry/field-edit-datetime.ejs', {
                                field, mode, moment
                            }) %>
                            <% break;
                        case 'hidden' : %>
                            <%- include('../includes/entry/field-edit-hidden.ejs', {
                                field
                            }) %>
                            <% break; 
                    } %>
                </div>
            <% } %>
            <button class="btn btn-success" type="submit">Save</button>
        </form>
    </div>
</div>