<%- include('../includes/head.ejs') %>

<!-- Breadcrumb Navigation-->
<ul class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/" class="breadcrumb-link">collections</a>
    </li>
    <li class="breadcrumb-item">
        <a href="/fields?collectionId=<%= collection.id %>" class="breadcrumb-link"><%= collection.name %> fields</a>
    </li>
    <li class="breadcrumb-item">
        <%= collection.name %> entries
    </li>
</ul>

<!-- Show modal when deleting entries -->
<% if (isDeleting) { %> 
    <%- include('../includes/entry/modal-delete-entry.ejs', {
        collectionId: collection.id,
        entryName,
        entryId
    }) %>
<% } %>

<div class="container-fluid">
    <div class="row">
        <!-- Sidebar Content -->
        <div class="col-md-4 col-lg-3 col-xl-2 sidebar bg-light">
            <!-- Add Entry Link -->
            <div class="text-center">
                <a href="/entry/add?collectionId=<%= collection.id %>&mode=add" style="width: 100%; max-width: 10em" class="btn btn-success align-center">Add New Entry</a>
            </div>
            
        </div>

        <!-- Main Content -->
        <div class="col-md-8 col-lg-9 col-xl-10">
            <% if (entries.length) { %>
                <h1 class="mt-2">Entry List</h1>

                <!-- Notification Area -->
                <!-- Notify when entry is added -->
                <% if (wasAdded) { %>
                    <div class="alert alert-info alert-dismissable fade show" role="alert">
                        Entry <%= entryName %> has been added to <%= collection.name %>
                        <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                <% } %>

                <!-- Notify when entry is edited -->
                <% if (wasEdited) { %>
                    <div class="alert alert-info alert-dismissable fade show" role="alert">
                        Entry <%= entryName %> was edited.
                        <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                <% } %>

                <!-- Notify when entry is deleted -->
                <% if (wasDeleted) { %>
                    <div class="alert alert-info alert-dismissable fade show" role="alert">
                        Field <%= entryName %> was deleted.
                        <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                <% } %>

                <!-- Entry Table -->
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">
                                    Title
                                </th>
                                <th scope="col">
                                    Author
                                </th>
                                <th scope="col">
                                    Creation Date
                                </th>
                                <th scope="col">
                                    Last Modified
                                </th>
                                <th scope="col">
                                    Actions
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            <% for (let entry of entries) { %>
                                <tr>
                                    <th scope="row"><%= entry.title %></th>
                                    <td><%= entry.author %></td>
                                    <td><%= entry.creationDate %></td>
                                    <td><%= entry.lastModified %></td>
                                    <td>
                                        <div class="btn-group" role="group">
                                            <!-- Edit Entry Link -->
                                            <%- include('../includes/list-item-button.ejs', {
                                                btnColor: 'warning', 
                                                btnLabel: 'edit', 
                                                btnLink: `/entry/edit?entryId=${entry.id}`,
                                                isDisabled: isDeleting
                                            }) %>

                                            <!-- Delete Entry Link -->
                                            <%- include('../includes/list-item-button.ejs', {
                                                itemId: collection.id, 
                                                btnColor: 'danger', 
                                                btnLabel: 'delete', 
                                                btnLink: `/entry/delete?entryId=${entry.id}`,
                                                isDisabled: isDeleting
                                            }) %>
                                        </div>
                                    </td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            <% } else { %>
                <h1 class="mt-2">
                    No Entries on File
                </h1>
                <p>Create your first entry by clicking the button on the left.</p>
            <% } %>
        </div>
    </div>
</div>

<%- include('../includes/foot.ejs') %>
    
